<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/signup.js"></script>
</head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
  <div class="container-container1">
    <span class="container-text"><span>도서 등록</span></span>

    <form accept-charset="UTF-8" id="signup-form" action="" method="">

      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" placeholder="Enter your name(ID)" name="username" id="username" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password1">Password</label>
        <input class="form-control" type="password" placeholder="Enter your password" name="password1" id="password1" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password2">Confirm Password</label>
        <input class="form-control" type="password" placeholder="Confirm your password" name="password2" id="password2" />
      </div>
      <div class="">
        <button type="button" id="signup-button" class="btn btn-outline-danger">SignUp</button>
      </div>

    </form>

  </div>

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>

</html>