<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/signup.js"></script>
</head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
  <div class="container-container1">
    <span class="container-text"><span>도서 등록</span></span>

    <form accept-charset="UTF-8" id="register-book-form" action="" method="">
      <div class="mb-3">
        <label class="form-label" for="bookCategory">도서 대분류</label>
        <select class="form-control" name="bookCategory" id="bookCategory">
          <!-- 카테고리 옵션들 -->
          <option value="800">문학</option>
          <option value="900">역사</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="subCategory">도서 소분류</label>
        <select class="form-control" name="subCategory" id="subCategory">
          <!-- 서브카테고리 옵션들 -->
          <option value="1">한국문학</option>
          <option value="1">중국문학</option>
          <!-- 추가적인 서브카테고리들 -->
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="bookName">BookName</label>
        <input class="form-control" type="text" placeholder="Enter BookName" name="bookName" id="bookName" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="BookAuthor">BookAuthor</label>
        <input class="form-control" type="text" placeholder="Enter your BookAuthor" name="bookAuthor" id="bookAuthor" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="BookPublish">BookPublish Date</label>
        <input class="form-control" type="date" placeholder="Confirm your password" name="bookPublish" id="bookPublish" />
      </div>
      <div class="">
        <button type="button" id="register-book-button" class="btn btn-outline-danger">Regist Book</button>
      </div>

    </form>

  </div>

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>

</html>