<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<head>
  <!-- 도서 관리자 페이지-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/admin/books.js"></script>
</head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:insert="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:insert="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
  <div class="container-container1">
    <span class="container-text"><span>Register New Book - ADMIN ONLY</span></span>

    <form class="form258" accept-charset="UTF-8" id="register-book-form" action="" method="">
      <div class="mb-3">
        <label class="form-label" for="bookCategoryId">Select Book's Category</label>
        <select class="form-control" name="bookCategoryId" id="bookCategoryId">
          <!-- 카테고리 옵션들 -->
          <option th:each="category : ${categories}" th:value="${category.bookCategoryId}" th:text="${category.bookCategoryIsbnCode + ' - ' + category.bookCategoryName}"></option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="bookName">Book's Name</label>
        <input class="form-control" type="text" placeholder="Enter BookName" name="bookName" id="bookName" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="BookAuthor">Book's Author</label>
        <input class="form-control" type="text" placeholder="Enter BookAuthor" name="bookAuthor" id="bookAuthor" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="BookPublish">Book's Published Date</label>
        <input class="form-control" type="date" placeholder="Choose the date" name="bookPublish" id="bookPublish" />
      </div>
      <div class="">
        <button type="button" id="register-book-button" class="btn btn-outline-danger">Register New Book</button>
      </div>
      <br>
      <div class="">
        <button type="button" id="manage-book-button" class="btn btn-outline-info">Manage Books</button>
      </div>
    </form>

  </div>

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:insert="~{layout :: footer}"></div>
</body>

</html>
