<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/admin/donation.js"></script>
<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <div class="container">
        <div class="container-container1">
            <span class="container-text"><span>Book Donation Event List - ADMIN ONLY</span></span>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Book Event Setting</th>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Book Author</th>
                    <th>Book Publish</th>
                    <th>Book Status</th>
                </tr>
                </thead>
                <input type="hidden" id="donationId" th:value="${donationId}" />

                <tbody>
                <tr th:each="book : ${books}">
                    <td><input type="checkbox" class="book-checkbox" th:value="${book.bookId}" /></td>
                    <td th:text="${book.bookId}"></td>
                    <td th:text="${book.bookName}"></td>
                    <td th:text="${book.bookAuthor}"></td>
                    <td th:text="${book.bookPublish}"></td>
                    <td th:text="${book.bookStatus}"></td>
                </tr>
                </tbody>

            </table>
            <button type="button" class="btn btn-primary" onclick="setDonationEvent()">이벤트 설정</button>
        </div>
    </div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
