<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/admin/donation.js"></script>
<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <div class="container">
        <div class="container-container1">
            <span class="container-text"><span>Book Donation Event List - ADMIN ONLY</span></span>
            <div class="search-form mb-4" style="max-width: 1200px; margin: 0 auto;">
                <form th:action="@{/admin/donation/bookSetting/{donationId}/v3(donationId=${donationId})}" method="get" class="row">
                    <div class="col-2 mb-2">
                        <input type="text" class="form-control" id="bookIdSearch" name="bookId"
                               placeholder="book Id">
                    </div>
                    <div class="col-2 mb-2">
                        <input type="text" class="form-control" id="bookNameSearch" name="bookName"
                               placeholder="book Name">
                    </div>
                    <div class="col-2 mb-2">
                        <input type="text" class="form-control" id="authorSearch" name="author"
                               placeholder="Author">
                    </div>
                    <div class="col-2 mb-2">
                        <input type="text" class="form-control" id="publishSearch" name="publish"
                               placeholder="Publisher">
                    </div>
                    <div class="col-2 mb-2">
                        <button type="submit" class="btn btn-primary w-100">검색</button>
                    </div>
                </form>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Book Event Setting</th>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Book Author</th>
                    <th>Book Publish</th>
                    <th>Book Status</th>
                </tr>
                </thead>
                <input type="hidden" id="donationId" th:value="${donationId}"/>

                <tbody>
                <tr th:each="book : ${books}">
                    <td><input type="checkbox" class="book-checkbox" th:value="${book.bookId}"/></td>
                    <td th:text="${book.bookId}"></td>
                    <td th:text="${book.bookName}"></td>
                    <td th:text="${book.bookAuthor}"></td>
                    <td th:text="${book.bookPublish}"></td>
                    <td th:text="${book.bookStatus}"></td>
                </tr>
                </tbody>

            </table>

            <button type="button" class="btn btn-primary" onclick="setDonationEvent()" style="margin-bottom: 20px;">이벤트 설정</button>

            <div>
                <ul class="pagination">
                    <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->
                    <li class="page-item" th:if="${(currentPage / 10 ) * 10 > 0}">
                        <a class="page-link" th:href="@{/admin/donation/bookSetting/{donationId}/v3(page=${(currentPage / 10 - 1) * 10}, donationId=${donationId})}" aria-label="이전 페이지 그룹의 첫 페이지로 이동">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>

                    <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
                    <li th:each="pageNumber : ${#numbers.sequence((currentPage / 10) * 10, (currentPage / 10) * 10 + 9)}"
                        th:if="${pageNumber < totalPages}"
                        class="page-item"
                        th:class="${pageNumber == currentPage ? 'active' : ''}">
                        <a class="page-link" th:href="@{/admin/donation/bookSetting/{donationId}/v3(page=${pageNumber}, donationId=${donationId})}" th:text="${pageNumber + 1}"></a>
                    </li>

                    <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
                    <li class="page-item" th:if="${(currentPage / 10 + 1) * 10 < totalPages}">
                        <a class="page-link" th:href="@{/admin/donation/bookSetting/{donationId}/v3(page=${(currentPage / 10 + 1) * 10}, donationId=${donationId})}" aria-label="다음 페이지 그룹의 첫 페이지로 이동">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
