<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}"></head>
<head>
  <!-- 도서 관리자 페이지-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/admin/booksManage.js"></script>
</head>
<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <div class="container">
    <div class="container-container1">
      <span class="container-text"><span>Books List - ADMIN ONLY</span></span>



      <table class="table table-striped">

        <!-- 페이지 번호 표시 -->
        <div class="pagination">
          <ul class="pagination d-inline">
            <li th:if="${currentPage > 0}">
              <a th:href="@{/admin/booksManage(page=${currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == i} ? 'active' : ''">
              <a th:href="@{/admin/booksManage(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li th:if="${currentPage < totalPages - 1}">
              <a th:href="@{/admin/booksManage(page=${currentPage + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>

        <thead>
        <tr>
          <th>Book ID</th>
          <th>Book Category ISBN</th>
          <th>Book Category ID</th>
          <th>Book Name</th>
          <th>Book Author</th>
          <th>Book Publish</th>
          <th>Book Status</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">
          <td><input class="form-control" type="text" th:value="${book.bookId}" name="bookId" readonly/></td>
          <td><input class="form-control" type="text" th:value="${book.getBookCategoryIsbnCodeAndName()}" name="bookCategoryIsbnCodeAndName" readonly/></td>

          <td><input class="form-control" type="text" th:value="${book.bookCategoryId}" name="bookCategoryId"/></td>
          <td><input class="form-control" type="text" th:value="${book.bookName}" name="bookName"/></td>
          <td><input class="form-control" type="text" th:value="${book.bookAuthor}" name="bookAuthor"/></td>
          <td><input class="form-control" type="text" th:value="${book.bookPublish}" name="bookPublish"/></td>
          <td>
            <select class="form-control" name="bookStatus" th:id="'bookStatus_' + ${book.bookId}">
              <option value="POSSIBLE" th:text="POSSIBLE"></option>
              <option value="IMPOSSIBLE" th:text="IMPOSSIBLE"></option>
              <option value="DONATION" th:text="DONATION"></option>
              <option value="SOLD_OUT" th:text="SOLD_OUT"></option>
            </select>
            <script th:inline="javascript">
              /* 선택된 값 설정 */
              var selectedStatus = /*[[${book.bookStatus}]]*/ '';
              document.getElementById('bookStatus_' + /*[[${book.bookId}]]*/ '').value = selectedStatus;
            </script>
          </td>
         <td>
            <button type="button" class="btn btn-outline-warning" th:onclick="'updateBook(\'' + ${book.bookId} + '\')'">Update Book</button>
            <button type="button" class="btn btn-outline-danger" th:onclick="'deleteBook(\'' + ${book.bookId} + '\')'">Delete Book</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
