<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/admin/categories.js"></script>
</head>
<body>

<div th:replace="~{layout :: nav}"></div>
<div th:replace="~{layout :: header}"></div>

<div class="index-contents">

  <div class="container">
    <div class="container-container1">
      <span class="container-text"><span>Book Categories Creator</span></span>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Category ID</th>
          <th>Category ISBN Code</th>
          <th>Main Category Name</th>
          <th>Parent Category ID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input class="form-control" type="text" th:value="''" readonly/></td>
          <td><input class="form-control" type="text" th:value="''" id="bookUpCategoryIsbnCode"/></td>
          <td><input class="form-control" type="text" th:value="''" id="bookUpCategoryName"/></td>
          <td><input class="form-control" type="text" th:value="''" readonly /></td>
          <td>
            <button type="button" class="btn btn-outline-dark" onclick="createMainCategory()">Create Main Category</button>
          </td>
        </tr>
        <tr>
          <td><input class="form-control" type="text" th:value="''" readonly/></td>
          <td><input class="form-control" type="text" th:value="''" id="bookSubCategoryIsbnCode"/></td>
          <td><input class="form-control" type="text" th:value="''" id="bookSubCategoryName"/></td>
          <td><input class="form-control" type="text" th:value="''" id="parentCategoryId"/></td>
          <td>
            <button type="button" class="btn btn-outline-dark" onclick="createSubCategory()">Create Sub Category</button>
          </td>
        </tr>
        </tbody>
      </table>

      <span class="container-text"><span>Book Categories List</span></span>

      <form th:action="@{/admin/categories}" method="get">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by category name" name="keyword">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      </form>

      <table class="table table-striped">
        <!-- 페이지 번호 표시 -->
        <div class="pagination">
          <ul class="pagination d-inline">
            <li th:if="${currentPage > 0}">
              <a class="page-link" th:href="@{/admin/categories(page=${currentPage - 1}, keyword=${param.keyword})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == i} ? 'active' : ''">
              <a class="page-link" th:href="@{/admin/categories(page=${i}, keyword=${param.keyword})}" th:text="${i + 1}"></a>
            </li>
            <li th:if="${currentPage < totalPages - 1}">
              <a class="page-link" th:href="@{/admin/categories(page=${currentPage + 1}, keyword=${param.keyword})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>

        <thead>
        <tr>
          <th>Category ID</th>
          <th>Category ISBN Code</th>
          <th>Category Name</th>
          <th>Parent Category ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookCategory : ${categories.adminCategoriesResponseDtos}">
          <td><input class="form-control" type="text" th:value="${bookCategory.bookCategoryId}" name="bookCategoryId" readonly/></td>
          <td><input class="form-control" type="text" th:value="${bookCategory.bookCategoryIsbnCode}" name="bookCategoryIsbnCode"/></td>
          <td><input class="form-control" type="text" th:value="${bookCategory.bookCategoryName}" name="bookCategoryName"/></td>
          <td><input class="form-control" type="text" th:value="${bookCategory.parentCategoryId}" name="parentCategoryId" readonly/></td>
          <td>
            <button type="button" class="btn btn-outline-warning" th:onclick="'updateBookCategory(\'' + ${bookCategory.bookCategoryId} + '\')'">Update Category</button>
            <button type="button" class="btn btn-outline-danger" th:onclick="'deleteBookCategory(\'' + ${bookCategory.bookCategoryId} + '\')'">Delete Category</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div th:replace="~{layout :: footer}"></div>
</body>
</html>
