<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<head>
    <!-- 책 나눔 이벤트 관리자 페이지-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/admin/donation.js"></script>
</head>

<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠 -->
<div class="index-contents">
    <div class="container">
        <div class="container-container1">
            <span class="container-text"><span>Book Donation Event List - ADMIN ONLY</span></span>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Start Time</th>
                    <th>Event End Time</th>
                    <th>Action</th>
                </tr>
                </thead>


                <tbody>
                <th:block th:each="event, eventStatus : ${events}" th:unless="${event.donationId == -1}">
                    <!-- 이벤트 정보 행 -->
                    <tr>
                        <td style="width: 10%;"><input class="form-control" type="text" th:value="${event.donationId}" name="donationId"
                                   readonly/></td>
                        <td>
                            <input class="form-control" type="datetime-local" th:value="${event.createdAt}" name="createdAt"/>
                        </td>
                        <td>
                            <input class="form-control" type="datetime-local" th:value="${event.closedAt}" name="closedAt"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success"
                                    th:onclick="'location.href=\'/admin/donation/bookSetting/' + ${event.donationId} + '/v3'+'\''">
                                Book Setting Event
                            </button>
                            <button type="button" class="btn btn-outline-warning"
                                    th:onclick="'updateDonationEvent(\'' + ${event.donationId} + '\')'">Update Event
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                    th:onclick="'deleteDonationEvent(\'' + ${event.donationId} + '\')'">Delete Event
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                    th:onclick="'endDonationEvent(\'' + ${event.donationId} +'\')'">End Event
                            </button>
                        </td>
                    </tr>
                    <!-- 책 정보 행 -->
                    <tr>
                        <td colspan="5">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Book ID</th>
                                    <th>Book Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="book : ${event.bookResponseDtos}">
                                    <td th:text="${book.bookId}"></td>
                                    <td th:text="${book.bookName}"></td>
                                    <td th:text="${book.bookAuthor}"></td>
                                    <td th:text="${book.bookPublish}"></td>
                                    <td th:text="${book.bookStatus}"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-dark"
                                                th:onclick="'bookApplyCancle(\'' + ${event.donationId} + '\', \'' + ${book.bookId} + '\')'">
                                            Book Apply Cancel
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <ul class="pagination">
                                    <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->
                                    <li class="page-item" th:if="${(currentBookPage[eventStatus.index] / 10 ) * 10 > 0}">
                                        <a class="page-link" th:onclick="'modifyArrayAndRedirect(' + ${eventStatus.index} + ', ' + ${(currentBookPage[eventStatus.index] / 10 - 1) * 10} + ', ' + ${currentEventPage} + ')'" aria-label="Go to the first page of the next group">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>

                                    <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
                                    <li th:each="pageNumber : ${#numbers.sequence((currentBookPage[eventStatus.index] / 10) * 10, (currentBookPage[eventStatus.index] / 10) * 10 + 9)}"
                                        th:if="${pageNumber < totalBookPages[eventStatus.index]}"
                                        class="page-item"
                                        th:class="${pageNumber == currentBookPage[eventStatus.index] ? 'active' : ''}">
                                        <a class="page-link" th:onclick="'modifyArrayAndRedirect(' + ${eventStatus.index} + ', ' + ${pageNumber} + ', ' + ${currentEventPage} + ')'" th:text="${pageNumber + 1}"></a>
                                    </li>

                                    <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
                                    <li class="page-item" th:if="${(currentBookPage[eventStatus.index] / 10 + 1) * 10 < totalBookPages[eventStatus.index]}">
                                        <a class="page-link" th:onclick="'modifyArrayAndRedirect(' + ${eventStatus.index} + ', ' + ${(currentBookPage[eventStatus.index] / 10 + 1) * 10} + ', ' + ${currentEventPage} + ')'" aria-label="Go to the first page of the next group">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <td><input class="form-control" type="text" th:value="'*'" name="donationId" readonly/></td>
                    <td>
                        <input class="form-control" type="datetime-local" th:value="'2023-10-12T19:16:59'" name="createdAt"/>
                    </td>
                    <td>
                        <input class="form-control" type="datetime-local" th:value="'2023-10-12T19:16:59'" name="closedAt"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-dark" th:onclick="createDonationEvent()">Create
                            Event
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <ul class="pagination">
                    <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->

                    <li class="page-item" th:if="${(currentEventPage / 10 ) * 10 > 0}">
                        <a class="page-link" th:href="@{/admin/donation/v3(eventPage=${(currentEventPage / 10 - 1) * 10},bookPage=${currentBookPage})}" aria-label="Go to the first page of the next group">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>

                    <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
                    <li th:each="pageNumber : ${#numbers.sequence((currentEventPage / 10) * 10, (currentEventPage / 10) * 10 + 9)}"
                        th:if="${pageNumber < totalPages}"
                        class="page-item"
                        th:class="${pageNumber == currentEventPage ? 'active' : ''}">
                        <a class="page-link" th:href="@{/admin/donation/v3(eventPage=${pageNumber},bookPage=${currentBookPage})}" th:text="${pageNumber + 1}"></a>
                    </li>

                    <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
                    <li class="page-item" th:if="${(currentEventPage / 10 + 1) * 10 < totalPages}">
                        <a class="page-link" th:href="@{/admin/donation/v3(eventPage=${(currentEventPage / 10 + 1) * 10},bookPage=${currentBookPage})}" aria-label="Go to the first page of the next group">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let currentBookPage = /*[[${currentBookPage}]]*/ [];
    /*]]>*/
</script>

<script>
    function modifyArrayAndRedirect(eventIndex, newValue, currentEventPage) {
        currentBookPage[eventIndex] = newValue;
        var updatedBookPageString = currentBookPage.join(',');

        var newUrl = '/admin/donation/v3?bookPage=' + updatedBookPageString + '&eventPage=' + currentEventPage;
        window.location.href = newUrl;
    }
</script>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>

</body>
</html>
