<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<head>
    <!-- 책 나눔 이벤트 관리자 페이지-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/admin/donation.js"></script>
</head>

<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <div class="container">
        <div class="container-container1">
            <span class="container-text"><span>Book Donation Event List - ADMIN ONLY</span></span>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Start Time</th>
                    <th>Event End Time</th>
                    <th>Action</th>
                </tr>
                </thead>


                <tbody>
                <th:block th:each="event : ${events}">
                    <!-- 이벤트 정보 행 -->
                    <tr>
                        <td><input class="form-control" type="text" th:value="${event.donationId}" name="donationId"
                                   readonly/></td>
                        <td><input class="form-control" type="text" th:value="${event.createdAt}" name="createdAt"/>
                        </td>
                        <td><input class="form-control" type="text" th:value="${event.closedAt}" name="closedAt"/></td>
                        <td>
                            <button type="button" class="btn btn-outline-success"
                                    th:onclick="'location.href=\'/admin/donation/bookSetting/' + ${event.donationId} + '\''">
                                Book Setting Event
                            </button>
                            <button type="button" class="btn btn-outline-warning"
                                    th:onclick="'updateDonationEvent(\'' + ${event.donationId} + '\')'">Update Event
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                    th:onclick="'deleteDonationEvent(\'' + ${event.donationId} + '\')'">Delete Event
                            </button>
                            <button type="button" class="btn btn-outline-danger"
                                    th:onclick="'endDonationEvent(\'' + ${event.donationId} + '\')'">End Event
                            </button>
                        </td>
                    </tr>
                    <!-- 책 정보 행 -->
                    <tr>
                        <td colspan="5">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Book ID</th>
                                    <th>Book Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="book : ${event.bookResponseDtos}">
                                    <td th:text="${book.bookId}"></td>
                                    <td th:text="${book.bookName}"></td>
                                    <td th:text="${book.bookAuthor}"></td>
                                    <td th:text="${book.bookPublish}"></td>
                                    <td th:text="${book.bookStatus}"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-dark"
                                                th:onclick="'bookApplyCancle(\'' + ${event.donationId} + '\', \'' + ${book.bookId} + '\')'">
                                            Book Apply Cancel
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </th:block>
                <tr>
                    <td><input class="form-control" type="text" th:value="'*'" name="donationId" readonly/></td>
                    <td><input class="form-control" type="text" th:value="' '" name="createdAt"/></td>
                    <td><input class="form-control" type="text" th:value="' '" name="closedAt"/></td>
                    <td>
                        <button type="button" class="btn btn-outline-dark" th:onclick="createDonationEvent()">Create
                            Event
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
