<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<head>
  <!-- 카테고리 관리자 페이지-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/users/bookApplyDonation.js"></script>
</head>

<body>


<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:insert="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <div class="container">
    <div class="container-container1">
      <input type="hidden" id="donationId" th:value="${bookDonationEvent.donationId}" />
      <!-- 중앙 강조 이벤트 시간 표시 -->
      <div class="text-center my-4">
        <h1 style="font-size: 2.5em; color: #007BFF;">이벤트 시작 시간:</h1>
        <h2 style="font-size: 2em; color: #000;"><span th:text="${bookDonationEvent.createdAt}"></span></h2>

        <h1 style="font-size: 2.5em; color: #DC3545;">이벤트 종료 시간:</h1>
        <h2 style="font-size: 2em; color: #000;"><span th:text="${bookDonationEvent.closedAt}"></span></h2>
      </div>
      <hr> <!-- 구분선 -->

      <span class="container-text"><span>Book Apply Donation Lists</span></span>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Book Id</th>
          <th>Book Name</th>
          <th>Author</th>
          <th>Publish Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
          <td><input class="form-control" type="text" th:value="${book.bookId}" name="bookId" readonly/></td>
          <td><input class="form-control" type="text" th:value="${book.bookName}" name="bookName" readonly/></td>
          <td><input class="form-control" type="text" th:value="${book.bookAuthor}" name="bookAuthor" readonly/></td>
          <td><input class="form-control" type="text" th:value="${book.bookPublish}" name="bookPublish" readonly/></td>
          <td><input class="form-control" type="text" th:value="${book.bookStatus}" name="bookStatus" readonly/></td>
          <td><button type="button" class="btn btn-outline-danger" th:onclick="'bookDonationApply(\'' + ${book.bookId} + '\')'">APPLY</button></td>
        </tr>
        </tbody>
      </table>
      <div>
        <ul class="pagination">
          <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->

          <li class="page-item" th:if="${(currentPage / 10 ) * 10 > 0}">
            <a class="page-link" th:href="@{/users/bookDonationEvent/{donationId}/v2(page=${(currentPage / 10 - 1) * 10},donationId=${donationId})}" aria-label="Go to the first page of the next group">
              <span aria-hidden="true">«</span>
            </a>
          </li>

          <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
          <li th:each="pageNumber : ${#numbers.sequence((currentPage / 10) * 10, (currentPage / 10) * 10 + 9)}"
              th:if="${pageNumber < totalPages}"
              class="page-item"
              th:class="${pageNumber == currentPage ? 'active' : ''}">
            <a class="page-link" th:href="@{/users/bookDonationEvent/{donationId}/v2(page=${pageNumber},donationId=${donationId})}" th:text="${pageNumber + 1}"></a>
          </li>

          <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
          <li class="page-item" th:if="${(currentPage / 10 + 1) * 10 < totalPages}">
            <a class="page-link" th:href="@{/users/bookDonationEvent/{donationId}/v2(page= ${(currentPage / 10 + 1) * 10},donationId=${donationId})}" aria-label="Go to the first page of the next group">
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
