<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/users/bookApplyCancel.js"></script>
</head>
<body>

<div th:replace="~{layout :: nav}"></div>
<div th:replace="~{layout :: header}"></div>

<div class="index-contents">
    <div class="container">
        <div class="container-container1">
            <span class="container-text"><span>나눔 신청한 책 목록</span></span>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>책 ID</th>
                    <th>책 이름</th>
                    <th>저자</th>
                    <th>출판사</th>
                    <th>상태</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book, stat : ${userBookApplyCancelPageResponseDto.bookResponseDto}">
                    <td th:text="${book.bookId}"></td>
                    <td th:text="${book.bookName}"></td>
                    <td th:text="${book.bookAuthor}"></td>
                    <td th:text="${book.bookPublish}"></td>
                    <td th:text="${book.bookStatus}"></td>

                    <td>
                        <button type="button" class="btn btn-outline-danger"
                                th:onclick="'deleteBookApplyDonation(\'' + ${userBookApplyCancelPageResponseDto.BookApplyId[stat.index]} + '\')'">나눔 신청 취소</button>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{layout :: footer}"></div>
</body>
</html>
