<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}"></head>

<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <div class="container">
        <div class="container-container1">
            <span class="container-text"><span>Book Donation Event List</span></span>
            <div class="container-container1">
                <form th:action="@{/users/bookDonationEvent/v3}" method="get" class="row">
                    <div class="col-3 mb-2">
                        <input type="text" class="form-control" id="eventId" name="eventId" placeholder="이벤트 ID">
                    </div>
                    <div class="col-3 mb-2">
                        <input type="date" class="form-control" id="eventStartDate" name="eventStartDate" placeholder="시작 날짜">
                    </div>
                    <div class="col-3 mb-2">
                        <input type="date" class="form-control" id="eventEndDate" name="eventEndDate" placeholder="종료 날짜">
                    </div>
                    <div class="col-3 mb-2">
                        <button type="submit" class="btn btn-primary w-100">검색</button>
                    </div>
                </form>

            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Event Start Time</th>
                    <th>Event End Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}" th:unless="${event.donationId == -1}">
                    <td><label>
                        <input class="form-control" type="text" th:value="${event.donationId}" name="donationId" readonly/>
                    </label></td>
                    <td>
                        <input class="form-control" type="datetime-local" th:value="${event.createdAt}" name="createdAt" readonly/>
                    </td>
                    <td>
                        <input class="form-control" type="datetime-local" th:value="${event.closedAt}" name="closedAt" readonly/>
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-success" th:onclick="'location.href=\'/users/bookDonationEvent/' + ${event.donationId} + '/v2'+'\''">Event Page</button>
                    </td>
                </tr>
                </tbody>

            </table>
            <div>
                <ul class="pagination">
                    <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->

                    <li class="page-item" th:if="${(currentPage / 10 ) * 10 > 0}">
                        <a class="page-link" th:href="@{/users/bookDonationEvent/v3(page=${(currentPage / 10 - 1) * 10},eventId=${param.eventId},eventStartDate=${param.eventStartDate},eventEndDate=${param.eventEndDate})}" aria-label="Go to the first page of the next group">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>

                    <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
                    <li th:each="pageNumber : ${#numbers.sequence((currentPage / 10) * 10, (currentPage / 10) * 10 + 9)}"
                        th:if="${pageNumber < totalPages}"
                        class="page-item"
                        th:class="${pageNumber == currentPage ? 'active' : ''}">
                        <a class="page-link" th:href="@{/users/bookDonationEvent/v3(page=${pageNumber},eventId=${param.eventId},eventStartDate=${param.eventStartDate},eventEndDate=${param.eventEndDate})}" th:text="${pageNumber + 1}"></a>
                    </li>

                    <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
                    <li class="page-item" th:if="${(currentPage / 10 + 1) * 10 < totalPages}">
                        <a class="page-link" th:href="@{/users/bookDonationEvent/v3(page= ${(currentPage / 10 + 1) * 10},eventId=${param.eventId},eventStartDate=${param.eventStartDate},eventEndDate=${param.eventEndDate})}" aria-label="Go to the first page of the next group">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>
