<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}"></head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
  <div class="container-container1">
    <span class="container-text"><span>대여한 책 목록</span></span>

    <div class="list-card">
      <form accept-charset="UTF-8" id="" action="" method="">
        <div class="mb-3">
          <label class="form-label">책이름</label>
          <input class="form-control" type="text" placeholder="bookName" name="bookName" readonly/>
        </div>
        <div class="mb-3">
          <label class="form-label">반납예정일</label>
          <input class="form-control" type="text" placeholder="bookRentalEndDate" name="bookRentalEndDate" readonly/>
        </div>
        <div class="">
          <button type="button" class="btn btn-outline-primary" onClick="returnBook()">도서 반납하기</button>
        </div>
      </form>
    </div>

    <div class="list-card">
      <form accept-charset="UTF-8" id="" action="" method="">
        <div class="mb-3">
          <label class="form-label">책이름</label>
          <input class="form-control" type="text" placeholder="bookName" name="bookName" readonly/>
        </div>
        <div class="mb-3">
          <label class="form-label">반납예정일</label>
          <input class="form-control" type="text" placeholder="bookRentalEndDate" name="bookRentalEndDate" readonly/>
        </div>
        <div class="">
          <button type="button" class="btn btn-outline-primary" onClick="returnBook()">도서 반납하기</button>
        </div>
      </form>
    </div>

  </div>

    <!-- 컨텐츠(여기까지 삽입 됩니다.) -->

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>