
.index-text {
    color: rgba(0, 0, 0, 1);
    height: auto;
    flex-grow: 1;
    font-size: 28px;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text02 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text04 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text06 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text08 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text10 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text12 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text14 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text16 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text18 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text20 {
    color: rgba(255, 255, 255, 1);
    width: 520px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text22 {
    color: rgba(255, 255, 255, 1);
    width: 520px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
}

.index-text24 {
    color: rgba(255, 255, 255, 1);
    width: 346px;
    font-size: 10px;
    align-self: center;
    font-style: Regular;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
}


/* Body */
.index-body{
    /*background-color: rgba(0, 0, 0, 0.6000000238418579);*/
}

/* Body>Container */
.index-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

/* Navigator */
.navbar {
    position: fixed;
    display: flex;
    width: 100%;

    height: 80px;
    z-index: 1000;
    background-color: #212529;

}
#navbarSupportedContent {
    z-index: 1000;
    background-color: #212529;
}


.index-navigator {
    justify-content: space-between;
    position: fixed;
    top: 0px;

    gap: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 20px;
    overflow: hidden;
    /*box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.11999999731779099);*/
    align-items: center;
    flex-shrink: 0;
    /*justify-content: center;*/
    background-color: rgba(255, 255, 255, 1);
}
/* Nagivation Menus */
.index-navigation {
    margin-right: 10px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
/* Navigation Logo */
.index-logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.index-navLogo {
    width: 75px;
    height: 50px;
    margin-right: 10px; /* Add margin for spacing */
    /*border-radius: 5px;*/
}

/* Header */
.index-header {
    width: 100%;
    position: fixed;
    top: 80px;

    padding: 10px;
    text-align: center;
    background-color: gray;
}

/* Contents */
.index-contents {
    width: 100%;
    position: fixed;
    top: 250px;

    padding: 10px;
    text-align: center;

    overflow-y: auto; /* 스크롤 */
}

/* Footer */
.index-footer {
    width: 100%;

    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: gray; /* Set your desired background color */
}

/* Header - Container */
.index-container1 {
    gap: 60px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

/* Contents - Container */
.index-container2 {
    flex-direction: column; /* 추가 */

    gap: 60px;
    height: 585px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

/* Footer - Container */
.index-container3 {
    gap: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}
