<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:insert="~{layout :: head}"></head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>
<style>


</style>
<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
  <main class="flex-shrink-0">
    <!-- Header-->
    <header class="py-5">
      <div class="container px-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
              <h1 class="fw-bolder mb-3">We challenge, and study for the future.</h1>
              <p class="lead fw-normal text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita.</p>
              <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
              <a class="btn btn-primary btn-lg" href="https://ohnyong.notion.site/ohnyong/Team-258-S-A-7ac23961ccee44f39c2f31ff11259633">S.A Document</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">be the Backend Specialists</h2>
            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">Growth &amp; Try</h2>
            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="text-center">
          <h2 class="fw-bolder">Team 258</h2>
          <p class="lead fw-normal text-muted mb-5">Do the best, and a bit more.</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
              <h5 class="fw-bolder">Inyong KIM, citeFred</h5>
              <div class="fst-italic text-muted">Team Leader / Backend</div>
              <div class="fst-italic text-muted"><a href="https://www.citefred.com">Blog</a></div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
              <h5 class="fw-bolder">Yuheon Song, songyuheon</h5>
              <div class="fst-italic text-muted">Backend</div>
              <div class="fst-italic text-muted"><a href="https://velog.io/@songyuheon">Blog</a></div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
              <h5 class="fw-bolder">YeoungIk Cho, inyasang</h5>
              <div class="fst-italic text-muted">Backend</div>
              <div class="fst-italic text-muted"><a href="https://naktaa.tistory.com">Blog</a></div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
              <h5 class="fw-bolder">Kangyong Jeong, tuto</h5>
              <div class="fst-italic text-muted">Backend</div>
              <div class="fst-italic text-muted"><a href="https://naktaa.tistory.com">Blog</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- 컨텐츠(여기까지 삽입 됩니다.) -->

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>