<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 헤드 레이아웃 적용
<head th:insert="~{layout :: head}"></head>
<head>
     관리자회원삭제
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/adminV2.js"></script>

</head>

<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <div class="container">


        <span class="container-text"><span>User List - ADMIN ONLY</span></span>
        <div class="container-container1">
            <div class="search-form mb-4" style="max-width: 600px; margin: 0 auto;">
                <form th:action="@{/admin/users/v2}" method="get" class="row">
                    <div class="col-4 mb-2">
                        <input type="text" class="form-control" id="userNameSearch" name="userName"
                               placeholder="사용자 이름 검색">
                    </div>
                    <div class="col-4 mb-2">
                        <select class="form-control" id="userRoleSearch" name="userRole">
                            <option value="">사용자 역할 선택</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                    <div class="col-4 mb-2">
                        <button type="submit" class="btn btn-primary w-100">검색</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>UserId</th>
                <th>User Name</th>
                <th>User Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><input class="form-control" type="text" th:value="${user.userId}" name="userId" readonly/></td>
                <td><input class="form-control" type="text" th:value="${user.username}" name="username" readonly/></td>
                <td><input class="form-control" type="text" th:value="${user.role}" name="role" readonly/></td>
                <td>
                    <button type="button" class="btn btn-outline-danger"
                            th:onclick="'deleteUser(\'' + ${user.userId} + '\')'">Delete User
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <div>
            <ul class="pagination">
                <!-- 현재 페이지 번호가 10 이상일 경우, 이전 페이지 그룹의 첫 번째 페이지로 이동 -->

                <li class="page-item" th:if="${(currentPage / 10 ) * 10 > 0}">
                    <a class="page-link"
                       th:href="@{/admin/users/v2(page=${(currentPage / 10 - 1) * 10}  , userName=${param.userName}, userRole=${param.userRole})}"
                       aria-label="Go to the first page of the next group">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>

                <!-- 현재 페이지 그룹의 페이지 번호들을 표시. 현재 페이지 번호 기준으로 10개 페이지를 표시 -->
                <li th:each="pageNumber : ${#numbers.sequence((currentPage / 10) * 10, (currentPage / 10) * 10 + 9 )}"
                    th:if="${pageNumber < totalPages}"
                    class="page-item"
                    th:class="${pageNumber == currentPage ? 'active' : ''}">
                    <a class="page-link"
                       th:href="@{/admin/users/v2(page=${pageNumber} , userName=${param.userName}, userRole=${param.userRole})}"
                       th:text="${pageNumber + 1}"></a>
                </li>

                <!-- 현재 페이지 그룹의 마지막 페이지가 전체 페이지 수보다 작을 경우, 다음 페이지 그룹의 첫 번째 페이지로 이동 -->
                <li class="page-item" th:if="${(currentPage / 10 + 1) * 10 < totalPages}">
                    <a class="page-link"
                       th:href="@{/admin/users/v2(page=${(currentPage / 10 + 1) * 10}  , userName=${param.userName}, userRole=${param.userRole})}"
                       aria-label="Go to the first page of the next group">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>
</div>

</div>
<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>