<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}"></head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

  <!-- 컨텐츠(여기부터 삽입 됩니다.) -->
  <div class="container-container1">
    <span class="container-text"><span>Answer Survey</span></span>

    <form accept-charset="UTF-8" action="" method="">

      <div class="mb-3">
        <label class="form-label" for="surveyId">SurveyID(HIDDEN)</label>
        <input class="form-control" type="text" placeholder="SurveyId from selection(PathVariable)" name="surveyId" id="surveyId" readonly/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="question">Question(READONLY)</label>
        <input class="form-control" type="text" placeholder="Question from selection(by surveyId)" name="question" id="question" readonly />
      </div>
      <div class="mb-3">
        <label class="form-label" for="choices">Choices</label>
        <input class="form-control" type="text" placeholder="choices" name="Answer your choice" id="choices" />
      </div>
      <div class="">
        <button type="button" class="btn btn-outline-danger" onclick="createAnswer()">Answer Survey</button>
        <button type="button" class="btn btn-outline-warning" onclick="moveAnswerListView()">Manage Your Answers</button>
      </div>

    </form>

  </div>

  <!-- 컨텐츠(여기까지 삽입 됩니다.) -->

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>