<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <h2 class="text-center">채팅 페이지</h2>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="chatConnect">채팅 연결:</label>
                    <button id="chatConnect" class="btn btn-primary" type="submit">연결</button>
                    <button id="chatDisconnect" class="btn btn-danger" type="submit" disabled="disabled">연결 끊기</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="chatingMessage">채팅 메시지:</label>
                    <input type="text" id="chatingMessage" class="form-control" placeholder="메시지를 입력하세요...">
                    <button id="messageSend" class="btn btn-success" type="submit">전송</button>
                    <button id="home" onclick="location.href='/'" class="btn btn-success" type="submit">Main</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <table id="conversation" class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">채팅 시작</th>
                </tr>
                </thead>
                <tbody id="message">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
