<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}">

</head>
<body>
<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<div class="index-contents">
  <div class="container-container1">
    <span class="container-text"><span>회원 탈퇴</span></span>

    <form accept-charset="UTF-8" action="" method="">
      <div class="">
        <button type="button" id="escape-button" class="btn btn-outline-danger">탈퇴하기</button>
        <button type="button" id="main-page-button" class="btn btn-outline-danger">메인으로</button>
      </div>
    </form>
  </div>
</div>

<div th:replace="~{layout :: footer}"></div>

</body>
</html>