<!-- resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}"></head>
<body>
    <!-- 네비게이션 메뉴 레이아웃 적용 -->
    <div th:replace="~{layout :: nav}"></div>
    <!-- 헤더 레이아웃 적용 -->
    <div th:replace="~{layout :: header}"></div>

    <!-- 컨텐츠(이 부분이 변경 됩니다.) 레이아웃 적용 -->
    <div th:replace="~{layout :: content}"></div>

    <!-- 푸터 레이아웃 적용 -->
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>