<!-- resources/templates/layout.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 최신 버전의 CSS 파일 참조 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <!--  각 세부 페이지 기능 구현  -->

</head>

<body class="index-body">
<!-- Navigator -->
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav">
    <div class="container px-7">
        <div class="index-logo">
            <a class="navbar-brand" href="/">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fd22XUp%2FbtsxriHCYvH%2FwA1ES8jDhbNBzCtYDgK9MK%2Fimg.png"
                     style="filter: invert(90%); height: 35px;width: 55px; padding-right: 5px">
                Library App</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <!-- user private function-->
                <li class="nav-item"><a class="nav-link" id="loginbtn" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" id="signupbtn" href="/signup">SignUp</a></li>
                <!-- Search -->
                <li class="nav-item"><a class="nav-link" href="/search/v3">BookSearch</a></li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                    <li class="dropdown-item"><a class="dropdown-item" id="mypagebtn" href="/mypage">MyPage</a></li>
                    <li class="dropdown-item"><a class="dropdown-item" id="myrentalsbtn" href="/myrentals">MyRentals</a></li>
                    <li class="dropdown-item"><a class="dropdown-item" id="myreservationsbtn" href="/myreservations">MyReservations</a></li>
                    <!-- 대출 목록이 나타나야하고, 반납 버튼이 거기도 있어야 함. -->
                </ul>
            </li>


                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownAdmin" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <!-- user Controller R,D-->
                        <!--                <li class="dropdown-item"><a class="dropdown-item" id="adminUserBtn" href="/admin/users">Admin Users</a></li>-->
                        <li class="dropdown-item"><a class="dropdown-item" id="adminUserBtn" href="/admin/users/v2">Admin Users</a></li>
                        <!-- admin book controller ( CRUD )-->
                        <li class="dropdown-item"><a class="dropdown-item" id="adminBooksBtn" href="/admin/books">Admin Books</a></li>
                        <!-- admin category controller ( CRUD ) -->
                        <li class="dropdown-item"><a class="dropdown-item" id="adminCategoriesBtn" href="/admin/categories">Admin Categories</a></li>
                        <!-- admin donation controller ( CRUD )-->
                        <li class="dropdown-item"><a class="dropdown-item" id="adminDonationBtn" href="/admin/donation/v3">Admin Donation</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownDonation" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Donation</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
<!--                        <li class="nav-item"><a class="nav-link" id="userBookDonationEventBtn" href="/users/bookDonationEvent">Book Donation Event List</a></li>-->
                        <li class="dropdown-item"><a class="dropdown-item" id="userBookDonationEventBtn" href="/users/bookDonationEvent/v3">Book Donation Event List</a></li>
                        <!--                Book Apply Cancel 유저 책 나눔 신청 취소-->
                        <li class="dropdown-item"><a class="dropdown-item" id="userBookApplyCancel" href="/users/bookApplyDonation/cancel">Book Apply Cancel</a></li>
                    </ul>
                </li>


                <!-- About us -->
                <li class="nav-item"><a class="nav-link active" href="/about258">About Team 258</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<div class="index-header"  th:fragment="header">
    <div class="index-container1">
        <span class="index-text20"><span>Welcome to Library App</span></span>
        <span class="index-text22">
                    <span>Have fun with Books and Us</span>
                  </span>
    </div>
</div>

<!-- Contents -->
<div class="index-contents" th:fragment="content">
    <!-- Content goes here -->
</div>

<!-- Footer -->
<div class="index-footer" th:fragment="footer">
    <div class="index-container3">
                  <span class="index-text24">
                    <span>© 2023 TEAM 258. All rights reserved.</span>
                  </span>
    </div>
</div>
</body>
</html>