<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤드 레이아웃 적용 -->
<head th:replace="~{layout :: head}">
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- login.js를 참조하도록 변경 -->
    <script src="/static/js/login.js"></script>
</head>
<body>

<!-- 네비게이션 메뉴 레이아웃 적용 -->
<div th:replace="~{layout :: nav}"></div>
<!-- 헤더 레이아웃 적용 -->
<div th:replace="~{layout :: header}"></div>

<!-- 컨텐츠(이 부분이 변경 됩니다.) -->
<div class="index-contents">

    <!-- 컨텐츠(여기부터 삽입 됩니다.) -->

    <div class="container-container1">
        <span class="container-text"><span>Login</span></span>

        <form accept-charset="UTF-8" action="" method="">

            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" placeholder="Enter your name(ID)" name="username" id="username" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" placeholder="Enter your password" name="password" id="password" />
            </div>
            <div class="">
                <button type="button" id="login-btn" class="btn btn-outline-primary">Login</button>
                <button type="button" class="btn btn-outline-warning" id="moveSignUpView-btn">SignUp</button>
            </div>

        </form>

    </div>
    <!-- 컨텐츠(여기까지 삽입 됩니다.) -->

</div>

<!-- 푸터 레이아웃 적용 -->
<div th:replace="~{layout :: footer}"></div>
</body>
</html>