<!-- Navigator -->
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-7">
        <div class="index-logo">
            <a class="navbar-brand" href="/">
                <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fd22XUp%2FbtsxriHCYvH%2FwA1ES8jDhbNBzCtYDgK9MK%2Fimg.png" style="filter: invert(90%); height: 35px;width: 55px; padding-right: 5px">
                Survey App</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" id="loginbtn" href="/login" >Login</a></li>
                <li class="nav-item"><a class="nav-link" id="signupbtn" href="/signup">SignUp</a></li>
                <li class="nav-item"><a class="nav-link" id="mypagebtn" href="/mypage">MyPage</a></li>
                <li class="nav-item"><a class="nav-link" id="adminbtn" href="/admin">AdminPage</a></li>
                <li class="nav-item"><a class="nav-link" id="surveybtn" href="/survey">CreateSurvey</a></li>
                <li class="nav-item"><a class="nav-link" id="answerbtn" href="/answer">AnswerSurvey</a></li>
                <li class="nav-item"><a class="nav-link" id="resultbtn" href="/result">Results</a></li>
                <li class="nav-item"><a class="nav-link active" href="https://ohnyong.notion.site/ohnyong/Team-258-S-A-7ac23961ccee44f39c2f31ff11259633">About Team 258</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<div class="index-header">
    <div class="index-container1">
        <span class="index-text20"><span>Welcome to Survey App</span></span>
        <span class="index-text22">
                    <span>Create and manage surveys easily</span>
                  </span>
    </div>
</div>
